# GITHUB REDIRECT OAUTH DEV: https://localhost:<DASHBOARD_PORT>/api/auth/site/github/callback
# DISCORD REDIRECT OAUTH DEV: https://localhost:<DASHBOARD_PORT>/api/auth/site/discord/callback
# GEN KEYS: $(openssl rand -base64 32)

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

WEBAUTHN_RP_ID=localhost
WEBAUTHN_ORIGIN=https://localhost:5173
WEBAUTHN_RP_NAME=

OAUTH_PUBLIC_BASE_URL=https://localhost:5173

SERVER_PORT=
DASHBOARD_PORT=

DISCORD_TOKEN=
CLIENT_ID=
DISCORD_CLIENT_SECRET=

DISCORD_PUBLIC_KEY=
DISCORD_INTENTS_BITFIELD=33583

DISCORD_TOKEN_ENC_KEY=
API_TOKEN=

CLANSOCKET_CLAN_VAULT_MASTER_KEY=