.voxlab__actions-panel {
    display: flex;
    flex-direction: column;
    padding: var(--sp-2) var(--sp-2h);
}
.voxlab__actions-list {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.voxlab__actions-empty {
    padding: var(--sp-4) 0 var(--sp-2);
    font-size: var(--fs-2xs);
    text-align: center;
    color: var(--base-graphite-300);
}
