.account-ai-settings__modes {
    display: flex;
    flex-direction: column;
}

.account-ai-settings__modes-grid {
    display: grid;
    gap: var(--sp-1h);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
