.clans-manage__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-1);
    padding: var(--sp-1) var(--sp-3);
    border-block-end: 0.0625rem solid var(--base-graphite-500);
    background: var(--gradient-surface-opaque);
    backdrop-filter: blur(var(--blur-sm)) saturate(1.2);
}
