.codeblock {
    overflow-inline: auto;
    margin: 0;
    padding: var(--sp-2);
    font-family: var(--font-mono);
    font-size: var(--fs-2xs);
    line-height: var(--lh-snug);
    white-space: pre;
    color: var(--base-cream-100);
    background: rgb(from var(--base-graphite-1000) r g b / 0.7);
}
