.player-link {
    display: inline-flex;
    align-items: center;
    gap: var(--sp-0h);
    color: var(--base-cream-100);
    transition: color var(--dur-fast);
    cursor: pointer;
}
.player-link:hover {
    color: var(--base-gold-500);
}
