.tt-team-members--full {
    margin: 0;
}
.tt-team-members {
    display: flex;
    flex-direction: column;
    gap: var(--sp-1);
    margin: var(--sp-1) 0;
    padding: var(--sp-1) var(--sp-2);
    list-style: none;
}
