:root {
    --flow-row-color-01: #e8edf2b3;
    --flow-row-color-02: #9bd6f5b3;
    --flow-row-color-03: #ff8fc4b3;
    --flow-row-color-04: #8be0b6b3;
    --flow-row-color-05: #c8b0ffb3;
    --flow-row-color-06: #c8e35ab3;
    --flow-row-color-07: #c6a76fb3;
    --flow-row-color-08: #b8c0ccb3;
    --flow-row-color-09: #5fb8e8b3;
    --flow-row-color-10: #e0c96eb3;
    --flow-row-color-11: #d99c2eb3;
    --flow-row-color-12: #6c7480b3;
    --flow-row-color-13: #a06b3ab3;
    --flow-row-color-14: #2bb0a8b3;
    --flow-row-color-15: #ff6b6bb3;
    --flow-row-color-16: #a3a32eb3;
    --flow-row-color-17: #ff8c42b3;
    --flow-row-color-18: #1f8a8ab3;
    --flow-row-color-19: #2bb869b3;
    --flow-row-color-20: #6a3fc4b3;
    --flow-row-color-21: #2f7ce6b3;
    --flow-row-color-22: #c81e1eb3;
    --flow-row-color-23: #5fd13fb3;
    --flow-row-color-24: #5e6dffb3;
    --flow-row-color-25: #3fd9d9b3;
    --flow-row-color-26: #b066ffb3;
    --flow-row-color-27: #d633a0b3;
    --flow-row-color-28: #4aa8ffb3;
    --flow-row-color-29: #ff4fb4b3;
    --flow-row-color-30: #ff4f4fb3;
}
