@media (width<=40rem) {
    .account__rank-grid {
        grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
        max-inline-size: 100%;
        max-block-size: 13rem;
    }
    .account__rank-icon-btn {
        block-size: 2rem;
    }
}
